//Colors
$primaryColor: #D12300;
$secondaryColor: rgba($color: #808080, $alpha: 0.1);
$tertiaryColor: #003049;
$bodyColor: #F7F7FF;

// Shadows
@mixin shadow {
    box-shadow: 4px 4px 10px #BCC4C0;
}

// Classes CSS a utilisés pour les éléments répétitifs présents dans le code 
.primaryButton{
    padding: 5px;
    background-color: $tertiaryColor;
    border-radius: 10px;
    color: white;
    @include shadow;
    text-decoration: none;
    border: none;
    font-weight: 700;
  }
  
  .secondaryButton{
    padding: 5px;
    border: $tertiaryColor 3px solid;
    background-color: $secondaryColor;
    color: $tertiaryColor;
    border-radius: 10px;
    @include shadow;
    text-decoration: none;
    font-weight: 700;
  }
  
  .styleInput {
      border-radius: 5px;
      border: none;
      padding: 5px;
      @include shadow;
      background-color: $bodyColor;
      &:focus {
          outline: none;
      }
  }

// Animations
